@using Microsoft.AspNetCore.Components.Routing

@inherits LayoutComponentBase

<div class="container-fluid p-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 rounded shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold" href="/">User Management</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><NavLink class="nav-link" href="/">Users</NavLink></li>
                    <li class="nav-item"><NavLink class="nav-link" href="/logs">Logs</NavLink></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        @Body
    </div>
</div>
